<!-- <div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Full Name</th>
                    <th>Membership Type</th>
                    <th>Email ID</th>
                    <th>Mobile No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of userList; let sr = index">
                    
                        <td>{{ sr + 1 }}</td>
                        <td>{{ job.fullName }}</td>
                        <td>{{ job.experienceStatus }}</td>
                        <td>{{ job.emailId }}</td>
                        <td>{{ job.mobileNo }}</td>
                        <td>{{ job.location }}</td>
                        <td>
                            <button class="btn btn-success">Active</button>
                        </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div> -->



<!-- your-component.component.html -->

<!-- your-component.component.html -->

<div class="row">
    <div class="col-12">
      <table mat-table [dataSource]="userList" class="mat-elevation-z8 mat-table-custom">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="mat-cell-header">No.</th>
          <td mat-cell *matCellDef="let job; let sr = index" class="mat-cell">{{ sr + 1 }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef class="mat-cell-header">Full Name</th>
          <td mat-cell *matCellDef="let job" class="mat-cell">{{ job.fullName }}</td>
        </ng-container>
  
        <!-- Membership Type Column -->
        <ng-container matColumnDef="experienceStatus">
          <th mat-header-cell *matHeaderCellDef class="mat-cell-header">Membership Type</th>
          <td mat-cell *matCellDef="let job" class="mat-cell">{{ job.experienceStatus }}</td>
        </ng-container>
  
        <!-- Email ID Column -->
        <ng-container matColumnDef="emailId">
          <th mat-header-cell *matHeaderCellDef class="mat-cell-header">Email ID</th>
          <td mat-cell *matCellDef="let job" class="mat-cell">{{ job.emailId }}</td>
        </ng-container>
  
        <!-- Mobile No Column -->
        <ng-container matColumnDef="mobileNo">
          <th mat-header-cell *matHeaderCellDef class="mat-cell-header">Mobile No</th>
          <td mat-cell *matCellDef="let job" class="mat-cell">{{ job.mobileNo }}</td>
        </ng-container>
  
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="mat-cell-header">Action</th>
          <td mat-cell *matCellDef="let job" class="mat-cell">
            <button mat-icon-button color="primary">
              <mat-icon>check</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  
