<!-- <header class="sc-iCoHVE knnrxv">
    <div class="sc-iqAbSa gfcIZQ">
        <div class="sc-hKFyIo btOgdi">
            <a class="sc-dlnjPT cuIYFB" href="/new">
                <img alt="People Club" src="/static/media/logo.fa144d47.svg" height="32"
                    style="float: left; margin-top: 10px; z-index: 101" />
            </a>
            <div class="sc-pNWxx sc-jrsJCI dryRrI emsrNO">Put simply, we are people experts who know how to build and
                scale businesses.</div>
            <img src="/static/media/hamburger.1ccf0a73.svg" alt="menu" height="20" width="20" class="hamburger"
                style="position: absolute; top: 10px; right: 10px" />
        </div>
        <div class="sc-fujyUd dAHnJY">
            <div class="sc-pNWxx sc-jrsJCI dryRrI emsrNO">
                Put simply, we are people experts who know how to build and scale
                businesses.
            </div>
            <img alt="People Club" src="https://peopleclub.co.uk/static/media/hero.57a460b3.svg" class="header-image" />
        </div>
    </div>
    <img alt="People Club" src="https://peopleclub.co.uk/static/media/header.e14bd69e.svg" class="wave"
        style="z-index: 0" />
</header>
<div class="sc-crzoUp igLZpq">
    <div class="sc-iqAbSa gfcIZQ">
        <div class="sc-dIsAE dWzdfH">
            <p>People Club support growing companies in
                creating environments that nurture and develop talent to realise their
                full potential.
            </p>
            <p>Whether you’re an entrepreneur just starting out,
                a growing business with new funding or a larger corporate looking to be different - we can help ensure
                that you have the right people and strategy in place for your business to have the greatest chance of
                success.</p>
        </div>
    </div>
</div>
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Include your other meta tags, stylesheets, and scripts as needed -->
</head>

<body>

    <header class="sc-iCoHVE knnrxv">
        <div class="sc-iqAbSa gfcIZQ">
            <div class="sc-hKFyIo btOgdi">
                <a class="sc-dlnjPT cuIYFB" href="/new">
                    <!-- <img alt="People Club" src="https://peopleclub.co.uk/static/media/logo.fa144d47.svg" height="32"
                         style="float: left; margin-top: 10px; z-index: 101" /> -->
                </a>
                <!-- <div class="sc-pNWxx sc-jrsJCI dryRrI emsrNO">More Than a Membership, It's a Lifestyle: Discover the
                    Magic of People's Club Hub.</div>
               -->
            </div>
            <div class="sc-fujyUd dAHnJY">
                <div class="sc-pNWxx sc-jrsJCI dryRrI emsrNO">
                    More Than a Membership, It's a Lifestyle: Discover the
                    Magic of People's Club Hub.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Put simply, we know how to build and scale businesses.
                </div>
                <img alt="People Club" src="https://peopleclub.co.uk/static/media/hero.57a460b3.svg"
                    class="header-image" />
            </div>
        </div>
        <!-- <img alt="People Club" src="https://peopleclub.co.uk/static/media/header.e14bd69e.svg" class="wave"
            style="z-index: 0" /> -->
    </header>

    <div class="sc-crzoUp igLZpq">
        <div class="sc-iqAbSa gfcIZQ">
            <div class="sc-dIsAE dWzdfH">
                <p>People Club supports growing companies in creating environments that nurture and develop talent to
                    realize their full potential.</p>
                <p>Whether you’re an entrepreneur just starting out, a growing business with new funding, or a larger
                    corporate looking to be different - we can help ensure that you have the right people and strategy
                    in place for your business to have the greatest chance of success.</p>
            </div>
        </div>
    </div>

    <div class="sc-crzoUp hZiWUw">
        <div class="sc-pNWxx sc-bqGHjH dryRrI gIHfsz xyz">To create a great workplace you need to get the fundamentals
            right, that's why we focus on three things:</div>
        <div class="sc-ksluoS fUaEma">
            <img alt="People Advisory" src="https://peopleclub.co.uk/static/media/people.9495f40a.svg">
            <div>
                <h2>People Advisory</h2>
                <p>Using our unparalleled knowledge and experience of building and scaling teams globally, we’re able to
                    reduce key risks as our clients grow.</p>
                </div>
            </div>
            <div class="sc-ksluoS iHiTpp">
                <img alt="Talent Advisory" src="https://peopleclub.co.uk/static/media/place.e474ecc2.svg">
                <div>
                    <h2>Talent Advisory</h2>
                    <p>Our Talent Partners have worked with some of the biggest &amp; fastest growing businesses on the
                        planet, and know how to find great talent.</p>
                </div>
            </div>
            <div class="sc-ksluoS fUaEma"><img alt="Purpose"
                    src="https://peopleclub.co.uk/static/media/purpose.d3946983.svg">
                <div>
                    <h2>Leaders as a Service</h2>
                    <p>Our Leadership team has over 50 years experience and have lead People, Talent, L&amp;D and HR
                        teams across a number of industries.</p>
                </div>
            </div>
        </div>
        <!-- </body>
 
 </html> -->